body{
    background: #111827;
}

header{
  color: #FFFFFF;
}

h1{
    margin-left: 200px;
}

.container img{
    height: 550px;
    width: 650px;
    margin-left: 200px;
    margin-top: 60px;
}

button{
    background-color: #7180B9;
    
    
}
.imagem img{
height: 5px;
width: 5px;
margin-left: 20px ;
}
.imagem{
    font-size: larger;
    text-align: center;
    margin-left: 69px;
}

 h2{
height:50px;
}

.aolado{
    height: 610px;
    width: 620px;
    margin-left: 50px;
    margin-top: 22px;
}


.botao{
height: 40px;
width: 300px;
margin-left: 32px;
border-radius: 4px;

}

article input{
    height: 41px;
    width: 300px;
    border-radius: 4px;
    margin-top: 4px;
}

hr{
    width: 130px;
    margin-top: 36px;
}

 .formulario .email{
   position: relative;
}








